.table {
    width: 350px;
}

.table.is-liquid {
    width: 100%;
}

.caption {
    text-align: left;
    border-bottom: 2px solid var(--color-black);
}

.row {
    border-bottom: 1px solid var(--color-grey-2);
}

.cell {
    height: 26px;
    padding: 10px 0;
    font-size: 18px;
}

.labelCell {
    font-weight: 500;
}

.valueCell {
    text-align: right;
}
